:root {
    font-size: 30px;
}
body {
    /* font-size: 30px; */
    font-size: 1.4em;
    background-color: #ffc95c;
    margin: 0;
}
.main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    min-width: 320px;
    max-width: 600px;
}
.contentBox {
    width: 100%;
    margin-top: 4vh;
}
p {
    margin: 0;
}
button {
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: none;
    box-shadow: 1px 1px 2px gray;
}
.grayButton {
    border-radius: 20px;
    background-color: rgba(255, 246, 206, 0.411);
    border-color: rgba(253, 195, 4, 0.918);
    border: none;
    color: rgb(50, 54, 54);
    
}
.orangeButton{
    border-radius: 20px;
    border-color: rgba(253, 195, 4, 0.918);
    background-color: rgba(253, 187, 4, 0.836);
}
button:hover {
    box-shadow: 1px 1px 10px gray;
    cursor: pointer;
}
input {
    border: none;
}
input, select, button {
    /* font-size: 23px; */
    font-size: 0.7em;
    border-radius: 5px;
}
.choosingFileBlock {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 10px;
}
.example-1 input[type=file] {
    height: 1px;
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none
}
.example-1 .label {
    width:60px;
    border:1px dashed grey;
    border-radius:5px;
    display:flex;
    flex-direction: column;
    padding:0.1em;
    transition:border 300ms ease;
    cursor:pointer;
    text-align:center;
    /* font-size: 15px; */
    font-size: 0.4em;
    background-color: rgba(255, 246, 206, 0.103);
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.644);
}
.example-1 .label i {
    display:block;
}
.example-1 .label i,.example-1 .label .title {
    color:grey;
    transition:200ms color
}
.example-1 .label:hover {
    border:1px solid #000;
}
.example-1 .label:hover i,.example-1 .label:hover .title {
    color:#000;
}
.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wordsBox {
    width: 100%;
    padding: 0 1.5vh 4vw 1.5vh;
    background: linear-gradient(to right, #fffffb2f, rgba(253, 187, 4, 0.836), #fffffb2f);
    border-radius: 7px;

}
.starsBox {
    display: flex;
    justify-content: flex-end;
    height: 4vw;
}
.buttons {
    display: flex;
    flex-direction: column;
}
select:hover {
    box-shadow: 1px 1px 10px gray;
    cursor:pointer;
}
.startBlock {
    margin-bottom: 10px;
}
.words {
    background-color: #fff;
    padding: 0 5px 0 5px;
    margin-bottom: 1.5vh;
    border-radius: 5px;
}
.headerImg {
    display: inline;
}
.headerImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 1440px) {
    :root {
        font-size: 30px;
    }
}
@media (max-width: 1024px) {
    :root {
        font-size: 25px;
    }
}
@media (max-width: 600px) {
    :root {
        font-size: 18px;
    }
    .putAnswer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input, select, button {
        font-size: 1.5rem;
    }
    .main {
        width: 90%;
    }
}
@media (max-width: 425px) {
    :root {
        font-size: 12px;
    }
    .main {
        width: 90%;
    }
}