:root {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    background-color: #fff0d1;
    margin: 0;
}
.main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 320px;
    max-width: 60rem;
}
p {
    margin: 0;
}
button {
    margin-top: 3px;
    margin-bottom: 3px;
    box-shadow: none;
    /* border: none; */
    /* border-radius: 20px; */
    box-shadow: 1px 1px 2px gray;

}
.grayButton {
    border-radius: 20px;
    background-color: rgba(227, 228, 228, 0.692);
    border: none;
    color: rgb(50, 54, 54);
    
}
.orangeButton{
    border-radius: 20px;
    border-color: rgba(253, 195, 4, 0.918);
    background-color: rgba(253, 216, 4, 0.836);
}
button:hover {
    box-shadow: 1px 1px 10px gray;
}
input {
    border: none;
}
input, select, button {
    font-size: 1rem;
    border-radius: 5px;
}
.choosingFileBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.cooseFile {
    width: 90%;
}
.buttonHZ {
    display: flex;
    justify-content: center;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wordsBox {
    padding: 25px 10px;
    background-color: #cbfdc5;
    border-radius: 7px;

}

.buttons {
    display: flex;
    flex-direction: column;
}

.startBlock {
    margin-bottom: 10px;
}

.words {
    background-color: #fff;
    padding: 0 5px 0 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.headerImg {
    display: inline;
}
.headerImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 1440px) {
    :root {
        font-size: 30px;
    }
}
@media (max-width: 1024px) {
    :root {
        font-size: 25px;
    }
}
@media (max-width: 600px) {
    :root {
        font-size: 18px;
    }
    .putAnswer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input, select, button {
        font-size: 2rem;
    }
}
@media (max-width: 425px) {
    :root {
        font-size: 12px;
    }
}